In [24]:
import pandas as pd
import numpy as np


def calcular_suma_poblacion_anios(df):
    return df.loc[:, f"Poblacion {ANIO_INICIO}":f"Poblacion {ANIO_TERMINO}"].sum().reset_index()


def imprimir_resultados_suma_estratos(dfs_sumados, nombre_estratos):
    for i, df_suma in enumerate(dfs_sumados):
        print(f"La suma de poblaciones para el estrato {nombre_estratos[i]} es:")
        display(df_suma)


ANIO_INICIO = 2017
ANIO_TERMINO = 2035

COMUNAS_SSMO = [
    "Peñalolén",
    "Macul",
    "Ñuñoa",
    "La Reina",
    "Providencia",
    "Las Condes",
    "Vitacura",
    "Lo Barnechea",
    "Isla de Pascua"
]

In [25]:
COLUMNAS_POBLACION = [f"Poblacion {i}" for i in range(ANIO_INICIO, ANIO_TERMINO + 1)]

In [26]:
df = pd.read_excel(
    "../data/raw/3.0-planilla_poblacion_total/estimaciones-y-proyecciones-2002-2035-comunas.xlsx"
).iloc[:-2]

# Cálculo de Personas por Estrato

Aquí se quiere calcular la cantidad de personas que hay en los siguientes estratos:

1. Hombres y Mujeres
2. Hombres
3. Mujeres
4. Población sobre 45 años
5. Población sobre 60 años
6. Población entre 60 a 70 años
7. Población recién nacidos
8. Población sobre 65 años

Para cada estrato se calculará la población que hay para el SSMO, Región Metropolitana y el País.

In [27]:
df_pais = df.copy()
df_pais["grupo_etario_poblacion"] = np.where(df_pais["Edad"] >= 15, "Adulto", "Infantil")
df_rm = df_pais.query("M == 'Metropolitana de Santiago'")
df_ssmo = df_pais[df_pais["Nombre Comuna"].isin(COMUNAS_SSMO)]

nombres_estratos = ["SSMO", "Region Metropolitana", "Pais"]
estratos_a_calcular = [df_ssmo, df_rm, df_pais]

## 1. Hombres y Mujeres

In [28]:
suma_hombres_y_mujeres = map(calcular_suma_poblacion_anios, estratos_a_calcular)
imprimir_resultados_suma_estratos(suma_hombres_y_mujeres, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index        0
0   Poblacion 2017  1357568
1   Poblacion 2018  1392751
2   Poblacion 2019  1431609
3   Poblacion 2020  1469512
4   Poblacion 2021  1490151
5   Poblacion 2022  1502429
6   Poblacion 2023  1512535
7   Poblacion 2024  1522007
8   Poblacion 2025  1531138
9   Poblacion 2026  1540023
10  Poblacion 2027  1548637
11  Poblacion 2028  1556982
12  Poblacion 2029  1564990
13  Poblacion 2030  1572669
14  Poblacion 2031  1580096
15  Poblacion 2032  1587272
16  Poblacion 2033  1594109
17  Poblacion 2034  1600642
18  Poblacion 2035  1606843

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  7508690
1   Poblacion 2018  7702891
2   Poblacion 2019  7915199
3   Poblacion 2020  8125072
4   Poblacion 2021  8242459
5   Poblacion 2022  8310984
6   Poblacion 2023  8367790
7   Poblacion 2024  8420729
8   Poblacion 2025  8471244
9   Poblacion 2026  8519527
10  Poblacion 2027  8565503
11  Poblacion 2028  8609036
12  Poblacion 2029  8649979
13  Poblacion 2030  8688263
14  Poblacion 2031  8724360
15  Poblacion 2032  8758105
16  Poblacion 2033  8789317
17  Poblacion 2034  8818024
18  Poblacion 2035  8844243

La suma de poblaciones para el estrato Pais es:

             index         0
0   Poblacion 2017  18419192
1   Poblacion 2018  18751405
2   Poblacion 2019  19107216
3   Poblacion 2020  19458310
4   Poblacion 2021  19678363
5   Poblacion 2022  19828563
6   Poblacion 2023  19960889
7   Poblacion 2024  20086377
8   Poblacion 2025  20206953
9   Poblacion 2026  20322807
10  Poblacion 2027  20433791
11  Poblacion 2028  20539666
12  Poblacion 2029  20640230
13  Poblacion 2030  20735289
14  Poblacion 2031  20826397
15  Poblacion 2032  20912278
16  Poblacion 2033  20992831
17  Poblacion 2034  21067996
18  Poblacion 2035  21137769

## 2. Hombres

In [29]:
estratos_hombres = map(lambda x: x[x["Sexo\n1=Hombre\n2=Mujer"] == 1.0], estratos_a_calcular)
suma_hombres = map(calcular_suma_poblacion_anios, estratos_hombres)
imprimir_resultados_suma_estratos(suma_hombres, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  660253
1   Poblacion 2018  677954
2   Poblacion 2019  697445
3   Poblacion 2020  716354
4   Poblacion 2021  726815
5   Poblacion 2022  733589
6   Poblacion 2023  739367
7   Poblacion 2024  744846
8   Poblacion 2025  750142
9   Poblacion 2026  755304
10  Poblacion 2027  760330
11  Poblacion 2028  765191
12  Poblacion 2029  769891
13  Poblacion 2030  774417
14  Poblacion 2031  778779
15  Poblacion 2032  783018
16  Poblacion 2033  787077
17  Poblacion 2034  790991
18  Poblacion 2035  794733

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  3690365
1   Poblacion 2018  3793180
2   Poblacion 2019  3903339
3   Poblacion 2020  4010416
4   Poblacion 2021  4071264
5   Poblacion 2022  4107724
6   Poblacion 2023  4138275
7   Poblacion 2024  4166844
8   Poblacion 2025  4194152
9   Poblacion 2026  4220294
10  Poblacion 2027  4245235
11  Poblacion 2028  4268919
12  Poblacion 2029  4291282
13  Poblacion 2030  4312258
14  Poblacion 2031  4331987
15  Poblacion 2032  4350592
16  Poblacion 2033  4367909
17  Poblacion 2034  4383972
18  Poblacion 2035  4398760

La suma de poblaciones para el estrato Pais es:

             index         0
0   Poblacion 2017   9074217
1   Poblacion 2018   9244484
2   Poblacion 2019   9424139
3   Poblacion 2020   9599101
4   Poblacion 2021   9708512
5   Poblacion 2022   9782978
6   Poblacion 2023   9848466
7   Poblacion 2024   9910500
8   Poblacion 2025   9970025
9   Poblacion 2026  10027134
10  Poblacion 2027  10081754
11  Poblacion 2028  10133749
12  Poblacion 2029  10183028
13  Poblacion 2030  10229496
14  Poblacion 2031  10273948
15  Poblacion 2032  10315745
16  Poblacion 2033  10354845
17  Poblacion 2034  10391234
18  Poblacion 2035  10424918

## 3. Mujeres

In [30]:
estratos_mujeres = map(lambda x: x[x["Sexo\n1=Hombre\n2=Mujer"] == 2.0], estratos_a_calcular)
suma_mujeres = map(calcular_suma_poblacion_anios, estratos_mujeres)
# imprimir_resultados_suma_estratos(suma_mujeres, nombres_estratos)

## 4. Población sobre 45 años

In [31]:
estratos_mayores_45 = map(lambda x: x[x["Edad"] > 45], estratos_a_calcular)
suma_mayores_45 = map(calcular_suma_poblacion_anios, estratos_mayores_45)
# imprimir_resultados_suma_estratos(suma_mayores_45, nombres_estratos)

## 5. Población sobre 60 años

In [32]:
estratos_mayores_60 = map(lambda x: x[x["Edad"] > 60], estratos_a_calcular)
suma_mayores_60 = map(calcular_suma_poblacion_anios, estratos_mayores_60)
# imprimir_resultados_suma_estratos(suma_mayores_60, nombres_estratos)

## 6. Población entre 60 a 70 años

In [33]:
estratos_entre_60_a_70 = map(
    lambda x: x[(x["Edad"] >= 60) & (x["Edad"] <= 70)], estratos_a_calcular
)
suma_entre_60_a_70 = map(calcular_suma_poblacion_anios, estratos_entre_60_a_70)
# imprimir_resultados_suma_estratos(suma_entre_60_a_70, nombres_estratos)

## 7. Población Recién Nacidos Vivos

In [34]:
estratos_recien_nacidos = map(lambda x: x[x["Edad"] == 0], estratos_a_calcular)
suma_recien_nacidos = map(calcular_suma_poblacion_anios, estratos_recien_nacidos)
imprimir_resultados_suma_estratos(suma_recien_nacidos, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index      0
0   Poblacion 2017  16070
1   Poblacion 2018  16006
2   Poblacion 2019  16346
3   Poblacion 2020  16916
4   Poblacion 2021  17242
5   Poblacion 2022  17290
6   Poblacion 2023  17206
7   Poblacion 2024  17070
8   Poblacion 2025  16903
9   Poblacion 2026  16700
10  Poblacion 2027  16474
11  Poblacion 2028  16221
12  Poblacion 2029  15958
13  Poblacion 2030  15688
14  Poblacion 2031  15532
15  Poblacion 2032  15307
16  Poblacion 2033  15078
17  Poblacion 2034  14859
18  Poblacion 2035  14652

La suma de poblaciones para el estrato Region Metropolitana es:

             index       0
0   Poblacion 2017   97619
1   Poblacion 2018   97355
2   Poblacion 2019   99527
3   Poblacion 2020  103124
4   Poblacion 2021  105341
5   Poblacion 2022  105844
6   Poblacion 2023  105562
7   Poblacion 2024  104957
8   Poblacion 2025  104133
9   Poblacion 2026  103110
10  Poblacion 2027  101897
11  Poblacion 2028  100523
12  Poblacion 2029   99040
13  Poblacion 2030   97495
14  Poblacion 2031   96663
15  Poblacion 2032   95328
16  Poblacion 2033   94001
17  Poblacion 2034   92715
18  Poblacion 2035   91507

La suma de poblaciones para el estrato Pais es:

             index       0
0   Poblacion 2017  232425
1   Poblacion 2018  227660
2   Poblacion 2019  229927
3   Poblacion 2020  234728
4   Poblacion 2021  237485
5   Poblacion 2022  237819
6   Poblacion 2023  237015
7   Poblacion 2024  235715
8   Poblacion 2025  234060
9   Poblacion 2026  232106
10  Poblacion 2027  229904
11  Poblacion 2028  227508
12  Poblacion 2029  224968
13  Poblacion 2030  222323
14  Poblacion 2031  221346
15  Poblacion 2032  219179
16  Poblacion 2033  216997
17  Poblacion 2034  214851
18  Poblacion 2035  212799

## 8. Población sobre 65 años

In [35]:
estratos_mayores_a_65 = map(lambda x: x[x["Edad"] > 65], estratos_a_calcular)
suma_mayores_a_65 = map(calcular_suma_poblacion_anios, estratos_mayores_a_65)
# imprimir_resultados_suma_estratos(suma_mayores_a_65, nombres_estratos)

## 9. Población entre 15 a 24 años

In [36]:
estratos_entre_15_a_24 = map(
    lambda x: x[(x["Edad"] >= 15) & (x["Edad"] <= 24)], estratos_a_calcular
)
suma_entre_15_a_24 = map(calcular_suma_poblacion_anios, estratos_entre_15_a_24)
imprimir_resultados_suma_estratos(suma_entre_15_a_24, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  189742
1   Poblacion 2018  190954
2   Poblacion 2019  191375
3   Poblacion 2020  190824
4   Poblacion 2021  186919
5   Poblacion 2022  182373
6   Poblacion 2023  178765
7   Poblacion 2024  176246
8   Poblacion 2025  174840
9   Poblacion 2026  173985
10  Poblacion 2027  173619
11  Poblacion 2028  173416
12  Poblacion 2029  173786
13  Poblacion 2030  174903
14  Poblacion 2031  175699
15  Poblacion 2032  175417
16  Poblacion 2033  174389
17  Poblacion 2034  173159
18  Poblacion 2035  172125

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  1130890
1   Poblacion 2018  1138954
2   Poblacion 2019  1142179
3   Poblacion 2020  1140074
4   Poblacion 2021  1118872
5   Poblacion 2022  1093746
6   Poblacion 2023  1074338
7   Poblacion 2024  1061346
8   Poblacion 2025  1055025
9   Poblacion 2026  1051726
10  Poblacion 2027  1051118
11  Poblacion 2028  1051365
12  Poblacion 2029  1055109
13  Poblacion 2030  1063423
14  Poblacion 2031  1069822
15  Poblacion 2032  1069327
16  Poblacion 2033  1063972
17  Poblacion 2034  1057352
18  Poblacion 2035  1052050

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017  2735974
1   Poblacion 2018  2730638
2   Poblacion 2019  2719952
3   Poblacion 2020  2703243
4   Poblacion 2021  2658934
5   Poblacion 2022  2610833
6   Poblacion 2023  2575212
7   Poblacion 2024  2553410
8   Poblacion 2025  2542575
9   Poblacion 2026  2537479
10  Poblacion 2027  2535416
11  Poblacion 2028  2537742
12  Poblacion 2029  2546627
13  Poblacion 2030  2563780
14  Poblacion 2031  2575502
15  Poblacion 2032  2569256
16  Poblacion 2033  2548462
17  Poblacion 2034  2520912
18  Poblacion 2035  2494471

## 10. Población entre 25 a 44 años

In [37]:
estratos_entre_25_a_44 = map(
    lambda x: x[(x["Edad"] >= 25) & (x["Edad"] <= 44)], estratos_a_calcular
)
suma_entre_25_a_44 = map(calcular_suma_poblacion_anios, estratos_entre_25_a_44)
imprimir_resultados_suma_estratos(suma_entre_25_a_44, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  436427
1   Poblacion 2018  453426
2   Poblacion 2019  473542
3   Poblacion 2020  492775
4   Poblacion 2021  501932
5   Poblacion 2022  505548
6   Poblacion 2023  507208
7   Poblacion 2024  507847
8   Poblacion 2025  507166
9   Poblacion 2026  505227
10  Poblacion 2027  502031
11  Poblacion 2028  497992
12  Poblacion 2029  493082
13  Poblacion 2030  487345
14  Poblacion 2031  480878
15  Poblacion 2032  473841
16  Poblacion 2033  466283
17  Poblacion 2034  457703
18  Poblacion 2035  448857

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  2385658
1   Poblacion 2018  2485423
2   Poblacion 2019  2600727
3   Poblacion 2020  2711382
4   Poblacion 2021  2767080
5   Poblacion 2022  2790584
6   Poblacion 2023  2803082
7   Poblacion 2024  2809600
8   Poblacion 2025  2808483
9   Poblacion 2026  2799916
10  Poblacion 2027  2784250
11  Poblacion 2028  2763806
12  Poblacion 2029  2738626
13  Poblacion 2030  2708945
14  Poblacion 2031  2675514
15  Poblacion 2032  2639535
16  Poblacion 2033  2600904
17  Poblacion 2034  2556702
18  Poblacion 2035  2510951

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017  5547955
1   Poblacion 2018  5700544
2   Poblacion 2019  5868456
3   Poblacion 2020  6027605
4   Poblacion 2021  6112626
5   Poblacion 2022  6154579
6   Poblacion 2023  6180898
7   Poblacion 2024  6196537
8   Poblacion 2025  6198781
9   Poblacion 2026  6187809
10  Poblacion 2027  6163402
11  Poblacion 2028  6127776
12  Poblacion 2029  6085705
13  Poblacion 2030  6037800
14  Poblacion 2031  5985091
15  Poblacion 2032  5927987
16  Poblacion 2033  5865018
17  Poblacion 2034  5792011
18  Poblacion 2035  5715114

## 11. Población entre 45 a 59 años

In [38]:
estratos_entre_45_a_59 = map(
    lambda x: x[(x["Edad"] >= 45) & (x["Edad"] <= 59)], estratos_a_calcular
)
suma_entre_45_a_59 = map(calcular_suma_poblacion_anios, estratos_entre_45_a_59)
imprimir_resultados_suma_estratos(suma_entre_45_a_59, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  245976
1   Poblacion 2018  250759
2   Poblacion 2019  256118
3   Poblacion 2020  261703
4   Poblacion 2021  265636
5   Poblacion 2022  268701
6   Poblacion 2023  271280
7   Poblacion 2024  273470
8   Poblacion 2025  275767
9   Poblacion 2026  278503
10  Poblacion 2027  281745
11  Poblacion 2028  285518
12  Poblacion 2029  289853
13  Poblacion 2030  294804
14  Poblacion 2031  300304
15  Poblacion 2032  306426
16  Poblacion 2033  313024
17  Poblacion 2034  320583
18  Poblacion 2035  328025

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  1377029
1   Poblacion 2018  1403720
2   Poblacion 2019  1433262
3   Poblacion 2020  1465104
4   Poblacion 2021  1489209
5   Poblacion 2022  1508677
6   Poblacion 2023  1525723
7   Poblacion 2024  1540794
8   Poblacion 2025  1556504
9   Poblacion 2026  1574671
10  Poblacion 2027  1595683
11  Poblacion 2028  1619323
12  Poblacion 2029  1645999
13  Poblacion 2030  1675813
14  Poblacion 2031  1708752
15  Poblacion 2032  1744755
16  Poblacion 2033  1783594
17  Poblacion 2034  1827609
18  Poblacion 2035  1871047

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017  3464640
1   Poblacion 2018  3520370
2   Poblacion 2019  3580096
3   Poblacion 2020  3641414
4   Poblacion 2021  3688895
5   Poblacion 2022  3725231
6   Poblacion 2023  3754587
7   Poblacion 2024  3780743
8   Poblacion 2025  3807273
9   Poblacion 2026  3837634
10  Poblacion 2027  3872718
11  Poblacion 2028  3911011
12  Poblacion 2029  3952033
13  Poblacion 2030  3996863
14  Poblacion 2031  4046645
15  Poblacion 2032  4103161
16  Poblacion 2033  4167705
17  Poblacion 2034  4242883
18  Poblacion 2035  4318514

## 12. Población entre 60 a 74 años

In [39]:
estratos_entre_60_a_74 = map(
    lambda x: x[(x["Edad"] >= 60) & (x["Edad"] <= 74)], estratos_a_calcular
)
suma_entre_60_a_74 = map(calcular_suma_poblacion_anios, estratos_entre_60_a_74)
imprimir_resultados_suma_estratos(suma_entre_60_a_74, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  167310
1   Poblacion 2018  174825
2   Poblacion 2019  181955
3   Poblacion 2020  189002
4   Poblacion 2021  195558
5   Poblacion 2022  201828
6   Poblacion 2023  207959
7   Poblacion 2024  214244
8   Poblacion 2025  220109
9   Poblacion 2026  225053
10  Poblacion 2027  229661
11  Poblacion 2028  233938
12  Poblacion 2029  237862
13  Poblacion 2030  241253
14  Poblacion 2031  244411
15  Poblacion 2032  247565
16  Poblacion 2033  250916
17  Poblacion 2034  254481
18  Poblacion 2035  258320

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017   830100
1   Poblacion 2018   866475
2   Poblacion 2019   900903
3   Poblacion 2020   935403
4   Poblacion 2021   968289
5   Poblacion 2022   999718
6   Poblacion 2023  1030642
7   Poblacion 2024  1062262
8   Poblacion 2025  1091748
9   Poblacion 2026  1117003
10  Poblacion 2027  1140618
11  Poblacion 2028  1162556
12  Poblacion 2029  1182275
13  Poblacion 2030  1199167
14  Poblacion 2031  1214868
15  Poblacion 2032  1230474
16  Poblacion 2033  1247266
17  Poblacion 2034  1265110
18  Poblacion 2035  1284538

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017  2121233
1   Poblacion 2018  2212101
2   Poblacion 2019  2299723
3   Poblacion 2020  2387391
4   Poblacion 2021  2473219
5   Poblacion 2022  2557907
6   Poblacion 2023  2642414
7   Poblacion 2024  2727429
8   Poblacion 2025  2807932
9   Poblacion 2026  2879618
10  Poblacion 2027  2946072
11  Poblacion 2028  3006675
12  Poblacion 2029  3060801
13  Poblacion 2030  3107939
14  Poblacion 2031  3150071
15  Poblacion 2032  3190014
16  Poblacion 2033  3231204
17  Poblacion 2034  3274556
18  Poblacion 2035  3318755

## 13. Población mayor o igual a 75 años

In [40]:
estratos_mayores_a_75 = map(lambda x: x[x["Edad"] >= 75], estratos_a_calcular)
suma_mayores_a_75 = map(calcular_suma_poblacion_anios, estratos_mayores_a_75)
imprimir_resultados_suma_estratos(suma_mayores_a_75, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017   84276
1   Poblacion 2018   87041
2   Poblacion 2019   89851
3   Poblacion 2020   92865
4   Poblacion 2021   96127
5   Poblacion 2022   99705
6   Poblacion 2023  103512
7   Poblacion 2024  107307
8   Poblacion 2025  111601
9   Poblacion 2026  116826
10  Poblacion 2027  122409
11  Poblacion 2028  128233
12  Poblacion 2029  134182
13  Poblacion 2030  140348
14  Poblacion 2031  146746
15  Poblacion 2032  153370
16  Poblacion 2033  160091
17  Poblacion 2034  166848
18  Poblacion 2035  173704

La suma de poblaciones para el estrato Region Metropolitana es:

             index       0
0   Poblacion 2017  326982
1   Poblacion 2018  337737
2   Poblacion 2019  348809
3   Poblacion 2020  360939
4   Poblacion 2021  374142
5   Poblacion 2022  388666
6   Poblacion 2023  404171
7   Poblacion 2024  419477
8   Poblacion 2025  436847
9   Poblacion 2026  458080
10  Poblacion 2027  480613
11  Poblacion 2028  504006
12  Poblacion 2029  527771
13  Poblacion 2030  552130
14  Poblacion 2031  576929
15  Poblacion 2032  602504
16  Poblacion 2033  628323
17  Poblacion 2034  654195
18  Poblacion 2035  680409

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017   859688
1   Poblacion 2018   891612
2   Poblacion 2019   924817
3   Poblacion 2020   960619
4   Poblacion 2021   999024
5   Poblacion 2022  1040647
6   Poblacion 2023  1084911
7   Poblacion 2024  1130233
8   Poblacion 2025  1180605
9   Poblacion 2026  1239443
10  Poblacion 2027  1302345
11  Poblacion 2028  1368560
12  Poblacion 2029  1437088
13  Poblacion 2030  1507762
14  Poblacion 2031  1580336
15  Poblacion 2032  1654350
16  Poblacion 2033  1729076
17  Poblacion 2034  1804357
18  Poblacion 2035  1880490

## Poblacion sobre desde 15 anios o mas

In [41]:
estratos_mayores_a_15 = map(lambda x: x[x["Edad"] >= 15], estratos_a_calcular)
suma_mayores_a_15 = map(calcular_suma_poblacion_anios, estratos_mayores_a_15)
imprimir_resultados_suma_estratos(suma_mayores_a_15, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index        0
0   Poblacion 2017  1123731
1   Poblacion 2018  1157005
2   Poblacion 2019  1192841
3   Poblacion 2020  1227169
4   Poblacion 2021  1246172
5   Poblacion 2022  1258155
6   Poblacion 2023  1268724
7   Poblacion 2024  1279114
8   Poblacion 2025  1289483
9   Poblacion 2026  1299594
10  Poblacion 2027  1309465
11  Poblacion 2028  1319097
12  Poblacion 2029  1328765
13  Poblacion 2030  1338653
14  Poblacion 2031  1348038
15  Poblacion 2032  1356619
16  Poblacion 2033  1364703
17  Poblacion 2034  1372774
18  Poblacion 2035  1381031

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  6050659
1   Poblacion 2018  6232309
2   Poblacion 2019  6425880
3   Poblacion 2020  6612902
4   Poblacion 2021  6717592
5   Poblacion 2022  6781391
6   Poblacion 2023  6837956
7   Poblacion 2024  6893479
8   Poblacion 2025  6948607
9   Poblacion 2026  7001396
10  Poblacion 2027  7052282
11  Poblacion 2028  7101056
12  Poblacion 2029  7149780
13  Poblacion 2030  7199478
14  Poblacion 2031  7245885
15  Poblacion 2032  7286595
16  Poblacion 2033  7324059
17  Poblacion 2034  7360968
18  Poblacion 2035  7398995

La suma de poblaciones para el estrato Pais es:

             index         0
0   Poblacion 2017  14729490
1   Poblacion 2018  15055265
2   Poblacion 2019  15393044
3   Poblacion 2020  15720272
4   Poblacion 2021  15932698
5   Poblacion 2022  16089197
6   Poblacion 2023  16238022
7   Poblacion 2024  16388352
8   Poblacion 2025  16537166
9   Poblacion 2026  16681983
10  Poblacion 2027  16819953
11  Poblacion 2028  16951764
12  Poblacion 2029  17082254
13  Poblacion 2030  17214144
14  Poblacion 2031  17337645
15  Poblacion 2032  17444768
16  Poblacion 2033  17541465
17  Poblacion 2034  17634719
18  Poblacion 2035  17727344

In [42]:
estratos_mayores_a_20 = map(lambda x: x[x["Edad"] >= 20], estratos_a_calcular)
suma_mayores_a_20 = map(calcular_suma_poblacion_anios, estratos_mayores_a_20)
imprimir_resultados_suma_estratos(suma_mayores_a_20, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index        0
0   Poblacion 2017  1038531
1   Poblacion 2018  1071960
2   Poblacion 2019  1108254
3   Poblacion 2020  1143080
4   Poblacion 2021  1163186
5   Poblacion 2022  1175921
6   Poblacion 2023  1186599
7   Poblacion 2024  1196385
8   Poblacion 2025  1205562
9   Poblacion 2026  1214636
10  Poblacion 2027  1223954
11  Poblacion 2028  1233682
12  Poblacion 2029  1243596
13  Poblacion 2030  1253572
14  Poblacion 2031  1263155
15  Poblacion 2032  1272535
16  Poblacion 2033  1281546
17  Poblacion 2034  1290625
18  Poblacion 2035  1299875

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  5540099
1   Poblacion 2018  5722755
2   Poblacion 2019  5919183
3   Poblacion 2020  6109043
4   Poblacion 2021  6219576
5   Poblacion 2022  6286901
6   Poblacion 2023  6342967
7   Poblacion 2024  6393780
8   Poblacion 2025  6440664
9   Poblacion 2026  6486377
10  Poblacion 2027  6533221
11  Poblacion 2028  6581839
12  Poblacion 2029  6631287
13  Poblacion 2030  6680701
14  Poblacion 2031  6727593
15  Poblacion 2032  6772664
16  Poblacion 2033  6815469
17  Poblacion 2034  6858104
18  Poblacion 2035  6901531

La suma de poblaciones para el estrato Pais es:

             index         0
0   Poblacion 2017  13432665
1   Poblacion 2018  13768853
2   Poblacion 2019  14120077
3   Poblacion 2020  14460210
4   Poblacion 2021  14689893
5   Poblacion 2022  14857110
6   Poblacion 2023  15002663
7   Poblacion 2024  15138270
8   Poblacion 2025  15266800
9   Poblacion 2026  15392634
10  Poblacion 2027  15520488
11  Poblacion 2028  15652922
12  Poblacion 2029  15789161
13  Poblacion 2030  15924147
14  Poblacion 2031  16054893
15  Poblacion 2032  16178396
16  Poblacion 2033  16295305
17  Poblacion 2034  16410417
18  Poblacion 2035  16526438

In [66]:
grouped_df = (
    df_ssmo.groupby(["Nombre Comuna", "grupo_etario_poblacion"])[COLUMNAS_POBLACION]
    .sum()
    .reset_index()
)
total_sum_by_comuna = df_ssmo.groupby(["Nombre Comuna"])[COLUMNAS_POBLACION].sum()
total_sum_by_comuna.insert(0, "grupo_etario_poblacion", "Total")
total_sum_by_comuna = total_sum_by_comuna.reset_index()

# Une grupos y totales de subgrupos
union_de_grupos = pd.concat([grouped_df, total_sum_by_comuna])
union_de_grupos["grupo_etario_poblacion"] = pd.Categorical(
    union_de_grupos["grupo_etario_poblacion"], ["Infantil", "Adulto", "Total"]
)
union_de_grupos = union_de_grupos.sort_values(["Nombre Comuna", "grupo_etario_poblacion"])

In [68]:
union_de_grupos.to_excel("../data/interim/resumen_poblacion_INE_SSMO.xlsx", index=False)