In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(
    "../data/raw/3.0-planilla_poblacion_total/estimaciones-y-proyecciones-2002-2035-comunas.xlsx"
).iloc[:-2]

# Cálculo de Personas por Estrato

Aquí se quiere calcular la cantidad de personas que hay en los siguientes estratos:

1. Hombres y Mujeres
2. Hombres
3. Mujeres
4. Población sobre 45 años
5. Población sobre 60 años
6. Población entre 60 a 70 años
7. Población recién nacidos
8. Población sobre 65 años

Para cada estrato se calculará la población que hay para el SSMO, Región Metropolitana y el País.

## 1. Hombres y Mujeres

In [3]:
COMUNAS_SSMO = [
    "Peñalolén",
    "Macul",
    "Ñuñoa",
    "La Reina",
    "Providencia",
    "Las Condes",
    "Vitacura",
    "Lo Barnechea",
]

poblacion_ssmo = df["Nombre Comuna"].isin(COMUNAS_SSMO)
suma_poblacion_ssmo = (
    df[poblacion_ssmo].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_rm = df["M"] == "Metropolitana de Santiago"
suma_poblacion_rm = df[poblacion_rm].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()

suma_poblacion_chile = df.loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()

## 2. Hombres

In [4]:
poblacion_ssmo_hombre = (poblacion_ssmo) & (df["Sexo\n1=Hombre\n2=Mujer"] == 1.0)
suma_poblacion_ssmo_hombre = (
    df[poblacion_ssmo_hombre].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_rm_hombre = (poblacion_rm) & (df["Sexo\n1=Hombre\n2=Mujer"] == 1.0)
suma_poblacion_rm_hombre = (
    df[poblacion_rm_hombre].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_pais_hombre = df["Sexo\n1=Hombre\n2=Mujer"] == 1.0
suma_poblacion_chile_hombre = (
    df[poblacion_pais_hombre].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

## 3. Mujeres

In [5]:
poblacion_ssmo_mujer = (poblacion_ssmo) & (df["Sexo\n1=Hombre\n2=Mujer"] == 2.0)
suma_poblacion_ssmo_mujer = (
    df[poblacion_ssmo_mujer].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_rm_mujer = (poblacion_rm) & (df["Sexo\n1=Hombre\n2=Mujer"] == 2.0)
suma_poblacion_rm_mujer = (
    df[poblacion_rm_mujer].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_pais_mujer = df["Sexo\n1=Hombre\n2=Mujer"] == 2.0
suma_poblacion_chile_mujer = (
    df[poblacion_pais_mujer].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

## 4. Población sobre 45 años

In [6]:
poblacion_ssmo_sobre_45 = (poblacion_ssmo) & (df["Edad"] > 45)
suma_poblacion_ssmo_sobre_45 = (
    df[poblacion_ssmo_sobre_45].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_rm_sobre_45 = (poblacion_rm) & (df["Edad"] > 45)
suma_poblacion_rm_sobre_45 = (
    df[poblacion_rm_sobre_45].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_pais_sobre_45 = df["Edad"] > 45
suma_poblacion_chile_sobre_45 = (
    df[poblacion_pais_sobre_45].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

## 5. Población sobre 60 años

In [7]:
poblacion_ssmo_sobre_60 = (poblacion_ssmo) & (df["Edad"] > 60)
suma_poblacion_ssmo_sobre_60 = (
    df[poblacion_ssmo_sobre_60].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_rm_sobre_60 = (poblacion_rm) & (df["Edad"] > 60)
suma_poblacion_rm_sobre_60 = (
    df[poblacion_rm_sobre_60].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_pais_sobre_60 = df["Edad"] > 60
suma_poblacion_chile_sobre_60 = (
    df[poblacion_pais_sobre_60].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

## 6. Población entre 60 a 70 años

In [8]:
poblacion_ssmo_entre_60_a_70 = (poblacion_ssmo) & ((df["Edad"] >= 60) & (df["Edad"] <= 70))
suma_poblacion_ssmo_entre_60_a_70 = (
    df[poblacion_ssmo_entre_60_a_70].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_rm_entre_60_a_70 = (poblacion_rm) & ((df["Edad"] >= 60) & (df["Edad"] <= 70))
suma_poblacion_rm_entre_60_a_70 = (
    df[poblacion_rm_entre_60_a_70].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_pais_entre_60_a_70 = (df["Edad"] >= 60) & (df["Edad"] <= 70)
suma_poblacion_chile_entre_60_a_70 = (
    df[poblacion_pais_entre_60_a_70].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

## 7. Población Recién Nacidos Vivos

In [9]:
poblacion_ssmo_recien_nacidos = (poblacion_ssmo) & (df["Edad"] == 0)
suma_poblacion_ssmo_recien_nacidos = (
    df[poblacion_ssmo_recien_nacidos].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_rm_recien_nacidos = (poblacion_rm) & (df["Edad"] == 0)
suma_poblacion_rm_recien_nacidos = (
    df[poblacion_rm_recien_nacidos].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_pais_recien_nacidos = df["Edad"] == 0
suma_poblacion_chile_recien_nacidos = (
    df[poblacion_pais_recien_nacidos].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

## 8. Población sobre 65 años

In [10]:
poblacion_ssmo_sobre_65 = (poblacion_ssmo) & (df["Edad"] > 65)
suma_poblacion_ssmo_sobre_65 = (
    df[poblacion_ssmo_sobre_65].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_rm_sobre_65 = (poblacion_rm) & (df["Edad"] > 65)
suma_poblacion_rm_sobre_65 = (
    df[poblacion_rm_sobre_65].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_pais_sobre_65 = df["Edad"] > 65
suma_poblacion_chile_sobre_65 = (
    df[poblacion_pais_sobre_65].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

## 9. Población entre 15 a 24 años

In [13]:
poblacion_ssmo_entre_15_a_24 = (poblacion_ssmo) & ((df["Edad"] >= 15) & (df["Edad"] <= 24))
suma_poblacion_ssmo_entre_15_a_24 = (
    df[poblacion_ssmo_entre_15_a_24].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_rm_entre_15_a_24 = (poblacion_rm) & ((df["Edad"] >= 15) & (df["Edad"] <= 24))
suma_poblacion_rm_entre_15_a_24 = (
    df[poblacion_rm_entre_15_a_24].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

poblacion_pais_entre_15_a_24 = (df["Edad"] >= 15) & (df["Edad"] <= 24)
suma_poblacion_chile_entre_15_a_24 = (
    df[poblacion_pais_entre_15_a_24].loc[:, "Poblacion 2017":"Poblacion 2035"].sum().reset_index()
)

display(suma_poblacion_chile_entre_15_a_24)
display(suma_poblacion_rm_entre_15_a_24)
display(suma_poblacion_ssmo_entre_15_a_24)

             index        0
0   Poblacion 2017  2735974
1   Poblacion 2018  2730638
2   Poblacion 2019  2719952
3   Poblacion 2020  2703243
4   Poblacion 2021  2658934
5   Poblacion 2022  2610833
6   Poblacion 2023  2575212
7   Poblacion 2024  2553410
8   Poblacion 2025  2542575
9   Poblacion 2026  2537479
10  Poblacion 2027  2535416
11  Poblacion 2028  2537742
12  Poblacion 2029  2546627
13  Poblacion 2030  2563780
14  Poblacion 2031  2575502
15  Poblacion 2032  2569256
16  Poblacion 2033  2548462
17  Poblacion 2034  2520912
18  Poblacion 2035  2494471

             index        0
0   Poblacion 2017  1130890
1   Poblacion 2018  1138954
2   Poblacion 2019  1142179
3   Poblacion 2020  1140074
4   Poblacion 2021  1118872
5   Poblacion 2022  1093746
6   Poblacion 2023  1074338
7   Poblacion 2024  1061346
8   Poblacion 2025  1055025
9   Poblacion 2026  1051726
10  Poblacion 2027  1051118
11  Poblacion 2028  1051365
12  Poblacion 2029  1055109
13  Poblacion 2030  1063423
14  Poblacion 2031  1069822
15  Poblacion 2032  1069327
16  Poblacion 2033  1063972
17  Poblacion 2034  1057352
18  Poblacion 2035  1052050

             index       0
0   Poblacion 2017  188848
1   Poblacion 2018  190050
2   Poblacion 2019  190467
3   Poblacion 2020  189909
4   Poblacion 2021  186008
5   Poblacion 2022  181459
6   Poblacion 2023  177850
7   Poblacion 2024  175318
8   Poblacion 2025  173913
9   Poblacion 2026  173043
10  Poblacion 2027  172668
11  Poblacion 2028  172455
12  Poblacion 2029  172812
13  Poblacion 2030  173911
14  Poblacion 2031  174694
15  Poblacion 2032  174403
16  Poblacion 2033  173374
17  Poblacion 2034  172148
18  Poblacion 2035  171116