In [1]:
import pandas as pd


def calcular_suma_poblacion_anios(df):
    return df.loc[:, f"Poblacion {ANIO_INICIO}":f"Poblacion {ANIO_TERMINO}"].sum().reset_index()


def imprimir_resultados_suma_estratos(dfs_sumados, nombre_estratos):
    for i, df_suma in enumerate(dfs_sumados):
        print(f"La suma de poblaciones para el estrato {nombre_estratos[i]} es:")
        display(df_suma)


ANIO_INICIO = 2017
ANIO_TERMINO = 2035

COMUNAS_SSMO = [
    "Peñalolén",
    "Macul",
    "Ñuñoa",
    "La Reina",
    "Providencia",
    "Las Condes",
    "Vitacura",
    "Lo Barnechea",
]

In [2]:
df = pd.read_excel(
    "../data/raw/3.0-planilla_poblacion_total/estimaciones-y-proyecciones-2002-2035-comunas.xlsx"
).iloc[:-2]

# Cálculo de Personas por Estrato

Aquí se quiere calcular la cantidad de personas que hay en los siguientes estratos:

1. Hombres y Mujeres
2. Hombres
3. Mujeres
4. Población sobre 45 años
5. Población sobre 60 años
6. Población entre 60 a 70 años
7. Población recién nacidos
8. Población sobre 65 años

Para cada estrato se calculará la población que hay para el SSMO, Región Metropolitana y el País.

In [3]:
df_pais = df.copy()
df_rm = df.query("M == 'Metropolitana de Santiago'")
df_ssmo = df[df["Nombre Comuna"].isin(COMUNAS_SSMO)]

nombres_estratos = ["SSMO", "Region Metropolitana", "Pais"]
estratos_a_calcular = [df_ssmo, df_rm, df_pais]

## 1. Hombres y Mujeres

In [4]:
suma_hombres_y_mujeres = map(calcular_suma_poblacion_anios, estratos_a_calcular)
imprimir_resultados_suma_estratos(suma_hombres_y_mujeres, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index        0
0   Poblacion 2017  1349920
1   Poblacion 2018  1384881
2   Poblacion 2019  1423536
3   Poblacion 2020  1461235
4   Poblacion 2021  1481706
5   Poblacion 2022  1493828
6   Poblacion 2023  1503792
7   Poblacion 2024  1513135
8   Poblacion 2025  1522141
9   Poblacion 2026  1530902
10  Poblacion 2027  1539406
11  Poblacion 2028  1547638
12  Poblacion 2029  1555548
13  Poblacion 2030  1563137
14  Poblacion 2031  1570474
15  Poblacion 2032  1577561
16  Poblacion 2033  1584326
17  Poblacion 2034  1590780
18  Poblacion 2035  1596909

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  7508690
1   Poblacion 2018  7702891
2   Poblacion 2019  7915199
3   Poblacion 2020  8125072
4   Poblacion 2021  8242459
5   Poblacion 2022  8310984
6   Poblacion 2023  8367790
7   Poblacion 2024  8420729
8   Poblacion 2025  8471244
9   Poblacion 2026  8519527
10  Poblacion 2027  8565503
11  Poblacion 2028  8609036
12  Poblacion 2029  8649979
13  Poblacion 2030  8688263
14  Poblacion 2031  8724360
15  Poblacion 2032  8758105
16  Poblacion 2033  8789317
17  Poblacion 2034  8818024
18  Poblacion 2035  8844243

La suma de poblaciones para el estrato Pais es:

             index         0
0   Poblacion 2017  18419192
1   Poblacion 2018  18751405
2   Poblacion 2019  19107216
3   Poblacion 2020  19458310
4   Poblacion 2021  19678363
5   Poblacion 2022  19828563
6   Poblacion 2023  19960889
7   Poblacion 2024  20086377
8   Poblacion 2025  20206953
9   Poblacion 2026  20322807
10  Poblacion 2027  20433791
11  Poblacion 2028  20539666
12  Poblacion 2029  20640230
13  Poblacion 2030  20735289
14  Poblacion 2031  20826397
15  Poblacion 2032  20912278
16  Poblacion 2033  20992831
17  Poblacion 2034  21067996
18  Poblacion 2035  21137769

## 2. Hombres

In [5]:
estratos_hombres = map(lambda x: x[x["Sexo\n1=Hombre\n2=Mujer"] == 1.0], estratos_a_calcular)
suma_hombres = map(calcular_suma_poblacion_anios, estratos_hombres)
imprimir_resultados_suma_estratos(suma_hombres, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  656477
1   Poblacion 2018  674065
2   Poblacion 2019  693455
3   Poblacion 2020  712265
4   Poblacion 2021  722643
5   Poblacion 2022  729342
6   Poblacion 2023  735051
7   Poblacion 2024  740465
8   Poblacion 2025  745699
9   Poblacion 2026  750800
10  Poblacion 2027  755774
11  Poblacion 2028  760583
12  Poblacion 2029  765235
13  Poblacion 2030  769716
14  Poblacion 2031  774033
15  Poblacion 2032  778230
16  Poblacion 2033  782257
17  Poblacion 2034  786130
18  Poblacion 2035  789837

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  3690365
1   Poblacion 2018  3793180
2   Poblacion 2019  3903339
3   Poblacion 2020  4010416
4   Poblacion 2021  4071264
5   Poblacion 2022  4107724
6   Poblacion 2023  4138275
7   Poblacion 2024  4166844
8   Poblacion 2025  4194152
9   Poblacion 2026  4220294
10  Poblacion 2027  4245235
11  Poblacion 2028  4268919
12  Poblacion 2029  4291282
13  Poblacion 2030  4312258
14  Poblacion 2031  4331987
15  Poblacion 2032  4350592
16  Poblacion 2033  4367909
17  Poblacion 2034  4383972
18  Poblacion 2035  4398760

La suma de poblaciones para el estrato Pais es:

             index         0
0   Poblacion 2017   9074217
1   Poblacion 2018   9244484
2   Poblacion 2019   9424139
3   Poblacion 2020   9599101
4   Poblacion 2021   9708512
5   Poblacion 2022   9782978
6   Poblacion 2023   9848466
7   Poblacion 2024   9910500
8   Poblacion 2025   9970025
9   Poblacion 2026  10027134
10  Poblacion 2027  10081754
11  Poblacion 2028  10133749
12  Poblacion 2029  10183028
13  Poblacion 2030  10229496
14  Poblacion 2031  10273948
15  Poblacion 2032  10315745
16  Poblacion 2033  10354845
17  Poblacion 2034  10391234
18  Poblacion 2035  10424918

## 3. Mujeres

In [6]:
estratos_mujeres = map(lambda x: x[x["Sexo\n1=Hombre\n2=Mujer"] == 2.0], estratos_a_calcular)
suma_mujeres = map(calcular_suma_poblacion_anios, estratos_mujeres)
# imprimir_resultados_suma_estratos(suma_mujeres, nombres_estratos)

## 4. Población sobre 45 años

In [7]:
estratos_mayores_45 = map(lambda x: x[x["Edad"] > 45], estratos_a_calcular)
suma_mayores_45 = map(calcular_suma_poblacion_anios, estratos_mayores_45)
# imprimir_resultados_suma_estratos(suma_mayores_45, nombres_estratos)

## 5. Población sobre 60 años

In [8]:
estratos_mayores_60 = map(lambda x: x[x["Edad"] > 60], estratos_a_calcular)
suma_mayores_60 = map(calcular_suma_poblacion_anios, estratos_mayores_60)
# imprimir_resultados_suma_estratos(suma_mayores_60, nombres_estratos)

## 6. Población entre 60 a 70 años

In [9]:
estratos_entre_60_a_70 = map(
    lambda x: x[(x["Edad"] >= 60) & (x["Edad"] <= 70)], estratos_a_calcular
)
suma_entre_60_a_70 = map(calcular_suma_poblacion_anios, estratos_entre_60_a_70)
# imprimir_resultados_suma_estratos(suma_entre_60_a_70, nombres_estratos)

## 7. Población Recién Nacidos Vivos

In [10]:
estratos_recien_nacidos = map(lambda x: x[x["Edad"] == 0], estratos_a_calcular)
suma_recien_nacidos = map(calcular_suma_poblacion_anios, estratos_recien_nacidos)
# imprimir_resultados_suma_estratos(suma_recien_nacidos, nombres_estratos)

## 8. Población sobre 65 años

In [11]:
estratos_mayores_a_65 = map(lambda x: x[x["Edad"] > 65], estratos_a_calcular)
suma_mayores_a_65 = map(calcular_suma_poblacion_anios, estratos_mayores_a_65)
# imprimir_resultados_suma_estratos(suma_mayores_a_65, nombres_estratos)

## 9. Población entre 15 a 24 años

In [12]:
estratos_entre_15_a_24 = map(
    lambda x: x[(x["Edad"] >= 15) & (x["Edad"] <= 24)], estratos_a_calcular
)
suma_entre_15_a_24 = map(calcular_suma_poblacion_anios, estratos_entre_15_a_24)
imprimir_resultados_suma_estratos(suma_entre_15_a_24, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  188848
1   Poblacion 2018  190050
2   Poblacion 2019  190467
3   Poblacion 2020  189909
4   Poblacion 2021  186008
5   Poblacion 2022  181459
6   Poblacion 2023  177850
7   Poblacion 2024  175318
8   Poblacion 2025  173913
9   Poblacion 2026  173043
10  Poblacion 2027  172668
11  Poblacion 2028  172455
12  Poblacion 2029  172812
13  Poblacion 2030  173911
14  Poblacion 2031  174694
15  Poblacion 2032  174403
16  Poblacion 2033  173374
17  Poblacion 2034  172148
18  Poblacion 2035  171116

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  1130890
1   Poblacion 2018  1138954
2   Poblacion 2019  1142179
3   Poblacion 2020  1140074
4   Poblacion 2021  1118872
5   Poblacion 2022  1093746
6   Poblacion 2023  1074338
7   Poblacion 2024  1061346
8   Poblacion 2025  1055025
9   Poblacion 2026  1051726
10  Poblacion 2027  1051118
11  Poblacion 2028  1051365
12  Poblacion 2029  1055109
13  Poblacion 2030  1063423
14  Poblacion 2031  1069822
15  Poblacion 2032  1069327
16  Poblacion 2033  1063972
17  Poblacion 2034  1057352
18  Poblacion 2035  1052050

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017  2735974
1   Poblacion 2018  2730638
2   Poblacion 2019  2719952
3   Poblacion 2020  2703243
4   Poblacion 2021  2658934
5   Poblacion 2022  2610833
6   Poblacion 2023  2575212
7   Poblacion 2024  2553410
8   Poblacion 2025  2542575
9   Poblacion 2026  2537479
10  Poblacion 2027  2535416
11  Poblacion 2028  2537742
12  Poblacion 2029  2546627
13  Poblacion 2030  2563780
14  Poblacion 2031  2575502
15  Poblacion 2032  2569256
16  Poblacion 2033  2548462
17  Poblacion 2034  2520912
18  Poblacion 2035  2494471

## 10. Población entre 25 a 44 años

In [13]:
estratos_entre_25_a_44 = map(
    lambda x: x[(x["Edad"] >= 25) & (x["Edad"] <= 44)], estratos_a_calcular
)
suma_entre_25_a_44 = map(calcular_suma_poblacion_anios, estratos_entre_25_a_44)
imprimir_resultados_suma_estratos(suma_entre_25_a_44, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  433460
1   Poblacion 2018  450356
2   Poblacion 2019  470372
3   Poblacion 2020  489503
4   Poblacion 2021  498580
5   Poblacion 2022  502130
6   Poblacion 2023  503727
7   Poblacion 2024  504320
8   Poblacion 2025  503588
9   Poblacion 2026  501614
10  Poblacion 2027  498391
11  Poblacion 2028  494327
12  Poblacion 2029  489400
13  Poblacion 2030  483656
14  Poblacion 2031  477177
15  Poblacion 2032  470133
16  Poblacion 2033  462571
17  Poblacion 2034  453992
18  Poblacion 2035  445149

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  2385658
1   Poblacion 2018  2485423
2   Poblacion 2019  2600727
3   Poblacion 2020  2711382
4   Poblacion 2021  2767080
5   Poblacion 2022  2790584
6   Poblacion 2023  2803082
7   Poblacion 2024  2809600
8   Poblacion 2025  2808483
9   Poblacion 2026  2799916
10  Poblacion 2027  2784250
11  Poblacion 2028  2763806
12  Poblacion 2029  2738626
13  Poblacion 2030  2708945
14  Poblacion 2031  2675514
15  Poblacion 2032  2639535
16  Poblacion 2033  2600904
17  Poblacion 2034  2556702
18  Poblacion 2035  2510951

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017  5547955
1   Poblacion 2018  5700544
2   Poblacion 2019  5868456
3   Poblacion 2020  6027605
4   Poblacion 2021  6112626
5   Poblacion 2022  6154579
6   Poblacion 2023  6180898
7   Poblacion 2024  6196537
8   Poblacion 2025  6198781
9   Poblacion 2026  6187809
10  Poblacion 2027  6163402
11  Poblacion 2028  6127776
12  Poblacion 2029  6085705
13  Poblacion 2030  6037800
14  Poblacion 2031  5985091
15  Poblacion 2032  5927987
16  Poblacion 2033  5865018
17  Poblacion 2034  5792011
18  Poblacion 2035  5715114

## 11. Población entre 45 a 59 años

In [14]:
estratos_entre_45_a_59 = map(
    lambda x: x[(x["Edad"] >= 45) & (x["Edad"] <= 59)], estratos_a_calcular
)
suma_entre_45_a_59 = map(calcular_suma_poblacion_anios, estratos_entre_45_a_59)
imprimir_resultados_suma_estratos(suma_entre_45_a_59, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  244677
1   Poblacion 2018  249425
2   Poblacion 2019  254754
3   Poblacion 2020  260311
4   Poblacion 2021  264218
5   Poblacion 2022  267255
6   Poblacion 2023  269809
7   Poblacion 2024  271977
8   Poblacion 2025  274248
9   Poblacion 2026  276954
10  Poblacion 2027  280166
11  Poblacion 2028  283900
12  Poblacion 2029  288202
13  Poblacion 2030  293116
14  Poblacion 2031  298582
15  Poblacion 2032  304664
16  Poblacion 2033  311225
17  Poblacion 2034  318741
18  Poblacion 2035  326141

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  1377029
1   Poblacion 2018  1403720
2   Poblacion 2019  1433262
3   Poblacion 2020  1465104
4   Poblacion 2021  1489209
5   Poblacion 2022  1508677
6   Poblacion 2023  1525723
7   Poblacion 2024  1540794
8   Poblacion 2025  1556504
9   Poblacion 2026  1574671
10  Poblacion 2027  1595683
11  Poblacion 2028  1619323
12  Poblacion 2029  1645999
13  Poblacion 2030  1675813
14  Poblacion 2031  1708752
15  Poblacion 2032  1744755
16  Poblacion 2033  1783594
17  Poblacion 2034  1827609
18  Poblacion 2035  1871047

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017  3464640
1   Poblacion 2018  3520370
2   Poblacion 2019  3580096
3   Poblacion 2020  3641414
4   Poblacion 2021  3688895
5   Poblacion 2022  3725231
6   Poblacion 2023  3754587
7   Poblacion 2024  3780743
8   Poblacion 2025  3807273
9   Poblacion 2026  3837634
10  Poblacion 2027  3872718
11  Poblacion 2028  3911011
12  Poblacion 2029  3952033
13  Poblacion 2030  3996863
14  Poblacion 2031  4046645
15  Poblacion 2032  4103161
16  Poblacion 2033  4167705
17  Poblacion 2034  4242883
18  Poblacion 2035  4318514

## 12. Población entre 60 a 74 años

In [15]:
estratos_entre_60_a_74 = map(
    lambda x: x[(x["Edad"] >= 60) & (x["Edad"] <= 74)], estratos_a_calcular
)
suma_entre_60_a_74 = map(calcular_suma_poblacion_anios, estratos_entre_60_a_74)
imprimir_resultados_suma_estratos(suma_entre_60_a_74, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017  166676
1   Poblacion 2018  174153
2   Poblacion 2019  181243
3   Poblacion 2020  188259
4   Poblacion 2021  194779
5   Poblacion 2022  201014
6   Poblacion 2023  207112
7   Poblacion 2024  213364
8   Poblacion 2025  219196
9   Poblacion 2026  224109
10  Poblacion 2027  228689
11  Poblacion 2028  232945
12  Poblacion 2029  236846
13  Poblacion 2030  240220
14  Poblacion 2031  243361
15  Poblacion 2032  246501
16  Poblacion 2033  249841
17  Poblacion 2034  253389
18  Poblacion 2035  257213

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017   830100
1   Poblacion 2018   866475
2   Poblacion 2019   900903
3   Poblacion 2020   935403
4   Poblacion 2021   968289
5   Poblacion 2022   999718
6   Poblacion 2023  1030642
7   Poblacion 2024  1062262
8   Poblacion 2025  1091748
9   Poblacion 2026  1117003
10  Poblacion 2027  1140618
11  Poblacion 2028  1162556
12  Poblacion 2029  1182275
13  Poblacion 2030  1199167
14  Poblacion 2031  1214868
15  Poblacion 2032  1230474
16  Poblacion 2033  1247266
17  Poblacion 2034  1265110
18  Poblacion 2035  1284538

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017  2121233
1   Poblacion 2018  2212101
2   Poblacion 2019  2299723
3   Poblacion 2020  2387391
4   Poblacion 2021  2473219
5   Poblacion 2022  2557907
6   Poblacion 2023  2642414
7   Poblacion 2024  2727429
8   Poblacion 2025  2807932
9   Poblacion 2026  2879618
10  Poblacion 2027  2946072
11  Poblacion 2028  3006675
12  Poblacion 2029  3060801
13  Poblacion 2030  3107939
14  Poblacion 2031  3150071
15  Poblacion 2032  3190014
16  Poblacion 2033  3231204
17  Poblacion 2034  3274556
18  Poblacion 2035  3318755

## 13. Población mayor o igual a 75 años

In [16]:
estratos_mayores_a_75 = map(lambda x: x[x["Edad"] >= 75], estratos_a_calcular)
suma_mayores_a_75 = map(calcular_suma_poblacion_anios, estratos_mayores_a_75)
imprimir_resultados_suma_estratos(suma_mayores_a_75, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index       0
0   Poblacion 2017   84161
1   Poblacion 2018   86915
2   Poblacion 2019   89719
3   Poblacion 2020   92726
4   Poblacion 2021   95979
5   Poblacion 2022   99549
6   Poblacion 2023  103347
7   Poblacion 2024  107134
8   Poblacion 2025  111418
9   Poblacion 2026  116630
10  Poblacion 2027  122201
11  Poblacion 2028  128013
12  Poblacion 2029  133950
13  Poblacion 2030  140101
14  Poblacion 2031  146486
15  Poblacion 2032  153097
16  Poblacion 2033  159804
17  Poblacion 2034  166546
18  Poblacion 2035  173386

La suma de poblaciones para el estrato Region Metropolitana es:

             index       0
0   Poblacion 2017  326982
1   Poblacion 2018  337737
2   Poblacion 2019  348809
3   Poblacion 2020  360939
4   Poblacion 2021  374142
5   Poblacion 2022  388666
6   Poblacion 2023  404171
7   Poblacion 2024  419477
8   Poblacion 2025  436847
9   Poblacion 2026  458080
10  Poblacion 2027  480613
11  Poblacion 2028  504006
12  Poblacion 2029  527771
13  Poblacion 2030  552130
14  Poblacion 2031  576929
15  Poblacion 2032  602504
16  Poblacion 2033  628323
17  Poblacion 2034  654195
18  Poblacion 2035  680409

La suma de poblaciones para el estrato Pais es:

             index        0
0   Poblacion 2017   859688
1   Poblacion 2018   891612
2   Poblacion 2019   924817
3   Poblacion 2020   960619
4   Poblacion 2021   999024
5   Poblacion 2022  1040647
6   Poblacion 2023  1084911
7   Poblacion 2024  1130233
8   Poblacion 2025  1180605
9   Poblacion 2026  1239443
10  Poblacion 2027  1302345
11  Poblacion 2028  1368560
12  Poblacion 2029  1437088
13  Poblacion 2030  1507762
14  Poblacion 2031  1580336
15  Poblacion 2032  1654350
16  Poblacion 2033  1729076
17  Poblacion 2034  1804357
18  Poblacion 2035  1880490

## Poblacion sobre desde 15 anios o mas

In [17]:
estratos_mayores_a_15 = map(lambda x: x[x["Edad"] >= 15], estratos_a_calcular)
suma_mayores_a_15 = map(calcular_suma_poblacion_anios, estratos_mayores_a_15)
imprimir_resultados_suma_estratos(suma_mayores_a_15, nombres_estratos)

La suma de poblaciones para el estrato SSMO es:

             index        0
0   Poblacion 2017  1117822
1   Poblacion 2018  1150899
2   Poblacion 2019  1186555
3   Poblacion 2020  1220708
4   Poblacion 2021  1239564
5   Poblacion 2022  1251407
6   Poblacion 2023  1261845
7   Poblacion 2024  1272113
8   Poblacion 2025  1282363
9   Poblacion 2026  1292350
10  Poblacion 2027  1302115
11  Poblacion 2028  1311640
12  Poblacion 2029  1321210
13  Poblacion 2030  1331004
14  Poblacion 2031  1340300
15  Poblacion 2032  1348798
16  Poblacion 2033  1356815
17  Poblacion 2034  1364816
18  Poblacion 2035  1373005

La suma de poblaciones para el estrato Region Metropolitana es:

             index        0
0   Poblacion 2017  6050659
1   Poblacion 2018  6232309
2   Poblacion 2019  6425880
3   Poblacion 2020  6612902
4   Poblacion 2021  6717592
5   Poblacion 2022  6781391
6   Poblacion 2023  6837956
7   Poblacion 2024  6893479
8   Poblacion 2025  6948607
9   Poblacion 2026  7001396
10  Poblacion 2027  7052282
11  Poblacion 2028  7101056
12  Poblacion 2029  7149780
13  Poblacion 2030  7199478
14  Poblacion 2031  7245885
15  Poblacion 2032  7286595
16  Poblacion 2033  7324059
17  Poblacion 2034  7360968
18  Poblacion 2035  7398995

La suma de poblaciones para el estrato Pais es:

             index         0
0   Poblacion 2017  14729490
1   Poblacion 2018  15055265
2   Poblacion 2019  15393044
3   Poblacion 2020  15720272
4   Poblacion 2021  15932698
5   Poblacion 2022  16089197
6   Poblacion 2023  16238022
7   Poblacion 2024  16388352
8   Poblacion 2025  16537166
9   Poblacion 2026  16681983
10  Poblacion 2027  16819953
11  Poblacion 2028  16951764
12  Poblacion 2029  17082254
13  Poblacion 2030  17214144
14  Poblacion 2031  17337645
15  Poblacion 2032  17444768
16  Poblacion 2033  17541465
17  Poblacion 2034  17634719
18  Poblacion 2035  17727344